.env*
venv/
frontend/.env*
.idea
.vscode
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.bak
*.swp
frontend/node_modules
infrastructure/cdk.out
__tests__/*
.codex
CLAUDE.md
*.png
.claude
docs/
docs/context.md
infrastructure/secret.json